@define-color background #07120c;
@define-color search-background #234432;
@define-color text #e7f2e7;

* {
    box-shadow: none;
}

#window {
    background-color: alpha(@background, 0.9);
    color: #e7f2e7;
    border-radius: 12px;
    border: 2px solid #234432;
}

#input {
    background-color: alpha(@search-background, 0.9);
    color: #e7f2e7;
    border-radius: 12px;
    border: 0px solid #234432;
}

#entry:selected {
    background-color: alpha(@search-background, 0.9);
    color: #e7f2e7;
    border-radius: 12px;
    outline: none;
}

#expander-box {
    background-color: alpha(@search-background, 0.9);
    color: #e7f2e7;
}
