@define-color background #07120c;
@define-color search-background #234432;
@define-color border-color #234432;
@define-color text-color #e7f2e7;

* {
    box-shadow: none;
}

#window {
    background-color: alpha(@background, 0.9);
    color: @text-color;
    border-radius: 12px;
    border: 2px solid @border-color;
}

#input {
    background-color: alpha(@search-background, 0.9);
    color: @text-color;
    border-radius: 12px;
    border: 0px solid @border-color;
}

#entry:selected {
    background-color: alpha(@search-background, 0.9);
    color: @text-color;
    border-radius: 12px;
    outline: none;
}

#expander-box {
    background-color: alpha(@search-background, 0.9);
    color: @text-color;
}
