@define-color bar-background rgba(75, 128, 116, .6);
@define-color button-background #18504C;
@define-color battery-warning #B1931D;
@define-color battery-critical #DB0144;
@define-color battery-charging #2C92B1;

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'SauceCodePro Nerd Font', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  color: #b8b8b8;
  background: @bar-background;
}

#workspaces {
  margin: 0 4px;
  transition: none;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: #d8d8d8;
  transition: none;
}

#workspaces button:hover {
  background: none;
  border: none;
  transition: none
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
}

#workspaces button.urgent {
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @button-background;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid #01291D;
}

#tray *:first-child {
  border-left: none;
}

#mode, #cpu, #clock, #memory, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature, #language {
  margin: 4px 2px;
  padding: 0 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;

  /*
  border-bottom: 3px;
  border-style: solid;
  border-color: #d8d8d8; */
}

#clock {
  margin: 4px 2px;
  margin-right: 10px;
  padding: 0 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;

  /*
  border-bottom: 3px;
  border-style: solid;
  border-color: #d8d8d8; */
}

#pulseaudio {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;
}

#battery {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: @button-background;
  border-radius: 16px;

  padding-left: 0px;
  padding-right: 5px;
  min-width: 45px;
}

#battery.plugged {
  background: @battery-charging;
  color: #171717;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 50px;
}

#battery.charging {
  background: @battery-charging;
  color: #171717;
  padding-left: 10px;
}

#battery.warning:not(.charging) {
  background: @battery-warning;
  color: #171717;
}

#battery.critical:not(.charging) {
  background: @battery-critical;
  color: #ffffff;
}

#network {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;
}

#network.disconnected {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;
}

#custom-launcher {
  font-size: 18px;
  margin: 4px 2px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;

  /*
  border-bottom: 3px;
  border-style: solid;
  border-color: #d8d8d8; */
}

#custom-power {
  font-size: 14px;
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 0px;

  border-radius: 10px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #d8d8d8;
}

#pulseaudio.muted {
  color: #a16946;
}

#pulseaudio.bluetooth {
  color: #86c1b9;
}

#clock {
  /* margin-left: 0px;
  margin-right: 4px; */
  /* background-color: transparent; */
}

#temperature.critical {
  color: #a16946;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}

#language {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: -1px;
}