@define-color bar-background #234432;
@define-color button-background transparent;
@define-color theme-accent #234432;
@define-color battery-ok #e7f2e7;
@define-color battery-warning #B1931D;
@define-color battery-critical #DB0144;
@define-color battery-charging #3C679E;
@define-color icon-neutral #e7f2e7;
@define-color icon-accent #e7f2e7;
@define-color icon-secondary #e7f2e7;



* {
  transition: none;
  box-shadow: none;
}

#waybar {
  border-radius: 16px;

	font-family: 'SauceCodePro Nerd Font', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  background: shade(alpha(@bar-background, 1.0), 1.0);
}

#workspaces {
  font-size: 0.8em;
  margin: 0 2px;
  transition: none;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 2px;
  color: @icon-neutral;
  transition: none;
}

#workspaces button:hover {
  background: none;
  border: none;
  transition: none
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  color: #549070;
}

#workspaces button.urgent {
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @button-background;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid #01291D;
}

#tray *:first-child {
  border-left: none;
}

#mode, #cpu, #clock, #memory, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 10px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;

  color: @icon-neutral;
}

#language {
  margin: 4px 2px;
  padding: 0 0px;
  background-color: @button-background;
  min-width: 20px;

  border-radius: 16px;

  color: @icon-secondary;
}

#idle_inhibitor {
  margin: 4px 2px;
  padding: 0 10px;
  background-color: @button-background;
  min-width: 20px;

  border-radius: 16px;

  color: @icon-secondary;
}

#idle_inhibitor.activated {
  color: @icon-accent;
}

#clock {
  margin: 4px 2px;
  margin-right: 10px;
  padding: 0 10px;
  min-width: 20px;

  background-color: @button-background;
  border-radius: 16px;

  color: @icon-neutral;
}

#pulseaudio {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 20px;

  color: @icon-accent;

  border-radius: 16px;
}

#battery {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: @battery-ok;
  border-radius: 16px;
  min-width: 20px;
}

#battery.plugged {
  color: @battery-charging;
}

#battery.charging {
  color: @battery-charging;
}

#battery.warning:not(.charging) {
  color: @battery-warning;
}

#battery.critical:not(.charging) {
  color: @battery-critical;
}

#network {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;
  color: @battery-ok;

  border-radius: 16px;
}

#network.disconnected {
  margin: 4px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: @button-background;
  min-width: 30px;
  color: @icon-accent;

  border-radius: 16px;
}

#custom-launcher {
  font-size: 18px;
  margin: 4px 2px;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: @button-background;
  min-width: 30px;

  border-radius: 16px;
  color:@icon-secondary
}

#pulseaudio.muted {
  color: #a16946;
}

#pulseaudio.bluetooth {
  color: #86c1b9;
}

#clock {
  /* margin-left: 0px;
  margin-right: 4px; */
  /* background-color: transparent; */
}

#temperature.critical {
  color: #a16946;
}

#window {
  font-size: 0.9em;
	font-weight: 400;
	font-family: sans-serif;
}

#language {
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: -1px;
}